extends layout

block content
  h1 #{title}: #{book.name}
  

  if book_instances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Book Copies

      dl
      each book_instance in book_instances
        hr
        if book_instance.status=='Available'
          p.text-success #{book_instance.status}
        else if book_instance.status=='Maintenance'
          p.text-danger #{book_instance.status}
        else
          p.text-warning #{book_instance.status}
        p #[strong Imprint:] #{book_instance.imprint}
        if book_instance.status!='Available'
          p #[strong Due back:] #{book_instance.due_back}
        p #[strong Id:]
          a(href=book_instance.url) #{book_instance._id}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
